{% macro hmlrHeader(params) %}
{% from "hmlr_frontend_jinja/macros/attributes.html" import hmlrAttributes -%}

{%- set _rebrand = params.rebrand | default(govukRebrand() if govukRebrand and govukRebrand is callable else govukRebrand) -%}

{%- set menuButtonText = params.menuButtonText if params.menuButtonText else 'Menu' -%}

<header class="govuk-header {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="govuk-header"
  {{- hmlrAttributes(params.attributes) }}>
  <div class="govuk-header__container {{ params.containerClasses | default("govuk-width-container", true) }}">
    <div class="govuk-header__logo">
      <a href="{{ params.homepageUrl | default("/", true) }}" class="govuk-header__link govuk-header__link--homepage">
        <svg
          focusable="false"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2048 278"
          height="30"
          width="221"
          fill="currentcolor" class="govuk-header__logotype" aria-label="HM Land Registry">
          <title>HM Land Registry</title>
          <path
            transform="translate(1849,3)"
            d="m0 0h28l10 18 2 3h26l12-21h27l10 17 2 5h27l12 21-1 5-10 17 1 5 10 18 1 1 26 1 12 20-1 5-10 17 1 6 10 17v3l-12 21-26 1-6 9-6 11 1 5 10 17-1 5-11 19-26 1-10 17-3 5h-26l-6-9-7-13h-26l-12 21-1 1h-26l-10-17-3-5-26-1-8-13-4-7 1-6 10-17-1-5-11-18-26-1-12-21 1-5 10-17-1-5-10-17 1-6 10-17 1-1 26-1 12-21-2-6-10-17 6-11 7-12 26-1 10-17z"
            fill="#C1CE0C"
          />
          <path
            transform="translate(1849,3)"
            d="m0 0h28l10 18 2 3 25 1v1h-26l-2 5-8 15 1 5 11 19-12 21 1 5 10 17-1 5-11 19-1 1h-26l-2 5-10 17-27 1-11 19-2 3-26-1-12-21 1-5 10-17-1-5-10-17 1-6 10-17 1-1 26-1 12-21-2-6-10-17 6-11 7-12 26-1 10-17z"
            fill="#C1CE0C"
          />
          <path
            transform="translate(1888,159)"
            d="m0 0h27l5 8 7 12v2h27l13 22 26 2 12 20-1 5-11 19-26 1-10 17-3 5h-26l-6-9-7-13h-26l-12 21-1 1h-26l-10-17-3-5-26-1-8-13-4-7 1-6 11-19h25l6-9 8-14h25l8-13z"
            fill="#C1CE0C"
          />
          <path
            transform="translate(1914,25)"
            d="m0 0 3 3 10 18-1 5-11 19 6 11 6 10-1 4-10 18 1 6 9 15 2 3 25 1 6 9 7 12 27 1 12 21-1 4-11 20h-15l-11-1-6-9-7-12-1-1h-24l-3-3-11-19-27-1-2 5-9 16-2 2h-24l-6 9-7 12-3 2-24-1-8-13-4-7 1-5 11-19 27-1 10-18 2-3 26-1 12-20-1-5-10-18 1-5 11-18-12-22 1-5 10-18z"
            fill="#7FB634"
          />
          <path
            transform="translate(146,40)"
            d="m0 0h22l8 16 22 45 11 23 12 25v2h2l1-5 15-31 13-28 19-40 3-7h23v172l-5 1h-12l-1-1-1-142-19 41-14 30-12 27-2 10-1 19h-18l-1-22-4-13-18-38-14-30-11-24-1 142-1 1h-16z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(881,43)"
            d="m0 0h55l13 2 11 7 13 12 5 10v41l-5 10-14 12-3 2 2 5 15 28 7 14 1 6v24h-19l-2-25-8-16-15-29-48-1v71h-18v-163zm8 16v70h49l7-3 10-8 3-5 1-4v-30l-3-7-8-8-10-5z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1157,94)"
            d="m0 0h67v145l-4 8-10 10-8 6-6 3-6 1h-55l-1-1v-14l1-1 51-1 8-4 9-8 2-5 1-17h-48l-10-4-9-7-10-8-4-6-2-8v-55l2-9 6-8 10-8 9-6zm11 15-9 3-12 9-5 8v52l5 8 12 9 9 3h38v-91l-1-1z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(3,40)"
            d="m0 0h18v72h80v-72h18v173h-17l-1-1v-84h-80v84l-1 1h-17z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1569,94)"
            d="m0 0h18l1 80 3 9 7 8 8 6 9 3 34 1v-106l1-1h17v147l-6 9-11 10-8 5-8 2h-57l-1-1v-14l1-1 53-1 10-6 5-4 3-5 1-19h-47l-9-4-16-15-5-5-3-7z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(780,40)"
            d="m0 0h17v164l-9 9h-53l-8-2-9-5-13-11-5-5-3-9v-59l3-9 5-5 10-9 11-7 8-2h45v-44zm-41 66-7 3-11 8-4 5-2 6v47l4 9 11 9 9 4h40v-91z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(472,90)"
            d="m0 0h51l10 3 10 8 9 8 4 8v87h-2l-2 4-5 5h-58l-8-2-8-5-8-7-5-8-1-3v-26l4-8 9-9 7-5 6-2h53l-1-15-3-5-8-8-5-3-4-1-46-1v-14zm18 63-8 6-5 5v22l4 5 9 6 4 1h44v-45z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1036,92)"
            d="m0 0h32l10 4 11 9 9 8 3 7 1 5v26l-8 9-2 1h-72l1 17 3 9 8 7 6 4 8 2 49 1v15h-61l-10-5-14-12-6-7-2-10v-56l2-9 4-6 11-10 11-7zm6 14-8 4-11 10-3 9v17h64v-19l-4-8-10-9-8-4z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1311,94)"
            d="m0 0h68v15l-61 1-8 4-5 5-1 3v11l2 5 4 3 10 2 40 4 13 3 8 5 5 8 1 5v24l-3 9-8 7-9 6-6 2h-72l-1-1v-14l66-1 7-3 6-5 2-8-1-12-2-4-10-3-49-5-11-4-7-7-3-9v-24l3-7 10-9 9-5z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(588,90)"
            d="m0 0h53l10 3 12 11 8 7 4 5 2 5v91l-1 1h-17l-1-81-3-9-12-12-9-4-37-1v106l-1 1h-17l-1-112 7-8z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1889,204)"
            d="m0 0h25l5 8 9 15h25l13 21v3l-12 21h-26l-6-9-7-13h-26l-12 21-1 1h-26l-10-17-2-3 1-5 10-18 2-2h25z"
            fill="#7FB633"
          />
          <path
            transform="translate(1967,25)"
            d="m0 0h26l12 21-1 5-10 17 1 5 10 18 1 1 26 1 12 20-1 5-10 17-2 3-25-1-6-9-7-13-27-1-8-13-4-7 2-6 10-17-2-5-6-11-3-5 1-6z"
            fill="#7FB633"
          />
          <path
            transform="translate(1811,25)"
            d="m0 0h26l12 21-1 5-10 17 1 5 10 18-1 6-9 16-1 1-27 1-12 21-1 1h-26l-12-20 1-6 10-17 1-1 26-1 12-21-2-6-10-17 6-11z"
            fill="#7FB633"
          />
          <path
            transform="translate(363,40)"
            d="m0 0h18l1 1v156h67v16h-85l-1-1z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1408,67)"
            d="m0 0h18v27h38v15l-37 1v73l4 8 11 8 5 1 17 1v15h-27l-8-3-13-11-6-7-2-6z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1967,115)"
            d="m0 0h27l11 20 1 1 25 1 6 9 7 12v3l-12 21-27 1-12-22-27-1-12-20 1-6 10-17z"
            fill="#C1CE0C"
          />
          <path
            transform="translate(1953,181)"
            d="m0 0 4 5 10 17 26 2 12 20-1 5-11 19h-27l-6-9-7-12h-26l-12-22 1-5 10-16 1-3z"
            fill="#C1CE0C"
          />
          <path
            transform="translate(1927,137)"
            d="m0 0 26 1 6 9 7 12 27 1 12 21-1 4-11 20h-15l-11-1-6-9-7-12-1-1h-24l-3-3-11-19 3-7z"
            fill="#7FB633"
          />
          <path
            transform="translate(1876,137)"
            d="m0 0 3 4 8 14 2 4-12 21-2 2h-24l-6 9-7 12-3 2-24-1-8-13-4-7 1-5 11-19 27-1 10-18 2-3z"
            fill="#7FB633"
          />
          <path
            transform="translate(1494,94)"
            d="m0 0h54v15h-44v107h-18l-1-1v-110l7-9z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1246,94)"
            d="m0 0h18v122h-18z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(1927,92)"
            d="m0 0h27l12 21 27 1v1l-26 1-10 16-3 7-26-1-6-9-7-12 1-6z"
            fill="#C1CE0D"
          />
          <path
            transform="translate(1849,3)"
            d="m0 0h28l10 18 2 3 25 1v1h-26l-2 5-8 15v5l-2-1v-2l-25 1-2 1-3-8-9-15 1-4z"
            fill="#C1CE0C"
          />
          <path
            transform="translate(1798,136)"
            d="m0 0 2 3 10 17 3 2 25 1v1l-27 1-11 19-2 3-26-1-12-21 1-5 11-19z"
            fill="#C1CE0C"
          />
          <path
            transform="translate(1888,159)"
            d="m0 0h27l5 8 7 12v2l2 1h-2l-1 4-11 19-26-1-1 2-3-8-10-16 8-14z"
            fill="#C1CE0D"
          />
          <path
            transform="translate(1851,48)"
            d="m0 0h25l4 5 10 17-8 14-5 8h-27l-3-3-10-18 1-4 9-16z"
            fill="#F0E20B"
          />
          <path
            transform="translate(1928,48)"
            d="m0 0h26v2h2l11 19-2 5-10 18h-28l-10-16-3-6 12-21z"
            fill="#F1E20B"
          />
          <path
            transform="translate(1850,181)"
            d="m0 0 26 1 8 13 4 7v6l-11 19-2 1-26-2-11-19 1-7z"
            fill="#F1E20B"
          />
          <path
            transform="translate(1953,181)"
            d="m0 0 4 5 9 16-1 6-10 18-26 1-2 1-12-22 1-5 10-16 1-3z"
            fill="#F1E20B"
          />
          <path
            transform="translate(1812,115)"
            d="m0 0h25l6 9 7 12-1 5-10 18h-26l-5-4-9-16 1-7 9-15z"
            fill="#F1E20B"
          />
          <path
            transform="translate(1967,115)"
            d="m0 0h27l11 20-1 5-9 16-3 3h-27l-11-19 1-6 10-17z"
            fill="#F2E20B"
          />
          <path
            transform="translate(1928,227)"
            d="m0 0h25l13 21v3l-12 21h-26l-6-9-7-14 12-21z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1851,227)"
            d="m0 0h24l4 5 10 16-2 6-10 17-1 1h-26l-10-17-2-3 1-5 10-18z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1811,25)"
            d="m0 0h26l12 21-1 5-11 19h-26l-13-22 6-11z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1967,25)"
            d="m0 0h26l12 21-1 5-11 19h-26l-12-20 1-6z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1890,114)"
            d="m0 0h24l12 20 1 5-10 17-1 3h-27l-7-11-5-9 1-5 11-19z"
            fill="#FDFDFD"
          />
          <path
            transform="translate(2e3 92)"
            d="m0 0 27 1 12 20-1 5-10 17-2 3-25-1-6-9-7-13 2-5z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1772,93)"
            d="m0 0h27l12 21-6 12-7 11h-26l-12-20 1-6 10-17z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1876,137)"
            d="m0 0 3 4 8 14 2 4-12 21-2 2h-24l-4-5-9-16 2-6 10-17z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1927,137)"
            d="m0 0 26 1 6 9 7 12-2 5-10 17-1 1h-24l-3-3-11-19 3-7z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1890,70)"
            d="m0 0h24l10 16 3 5-1 4-11 20h-26l-12-21 1-5 11-18z"
            fill="#B0B2B2"
          />
          <path
            transform="translate(1245,52)"
            d="m0 0h20v22l-1 1h-18l-1-1z"
            fill="#FDFDFD"
          />
        </svg>
        {% if (params.productName) %}
        <span class="govuk-header__product-name">
          {{- params.productName -}}
        </span>
        {% endif %}
      </a>
    </div>
  {% if params.serviceName or params.navigation | length %}
    <div class="govuk-header__content">
    {% if params.serviceName %}
      {% if params.serviceUrl %}
      <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__service-name">
        {{ params.serviceName }}
      </a>
      {% else %}
      <span class="govuk-header__service-name">
        {{ params.serviceName }}
      </span>
      {% endif %}
    {% endif %}
    {% if params.navigation | length %}
      <nav aria-label="{{ params.navigationLabel | default(menuButtonText, true) }}" class="govuk-header__navigation {%- if params.navigationClasses %} {{ params.navigationClasses }}{% endif %}">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" {%- if params.menuButtonLabel and params.menuButtonLabel != menuButtonText %} aria-label="{{ params.menuButtonLabel }}"{% endif %} hidden>
          {{ menuButtonText }}
        </button>

        <ul id="navigation" class="govuk-header__navigation-list">
        {% for item in params.navigation %}
          {% if item.text or item.html %}
          <li class="govuk-header__navigation-item {%- if item.active %} govuk-header__navigation-item--active{% endif %}">
            {% if item.href %}
            <a class="govuk-header__link" href="{{ item.href }}"
              {{- hmlrAttributes(item.attributes) -}}>
            {% endif %}
              {{ item.html | safe | trim | indent(14) if item.html else item.text }}
            {% if item.href %}
            </a>
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    {% endif %}
    </div>
  {% endif %}
  </div>
</header>
{% endmacro %}
